<%- include ('../../partials/navbar.ejs') -%>
<%- include ('../../partials/header.ejs') -%>

<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Editor de Categoria</h2>
        </div>  
        <div class="card-body">             
            <form method="POST" action="/categories/update"> <!Dados do tipo Post enviados para a rota de atualizacao de categoria> 
                <input type="hidden" name="id" value="<%= categoria.id %>"> <!Input do tipo hidden=oculto ao usuário passando o id da categoria> 
                <input class="form-control" type="text" name="title" placeholder="Informe o novo título da categoria" value="<%= categoria.title %>"><br>
                <button class="btn btn-success">Editar</button>
            </form>
        </div>
    </div>
</div>

<%- include ('../../partials/footer.ejs') -%>