<%- include ('../../partials/navbar.ejs') -%>
<%- include ('../../partials/header.ejs') -%>

<div class="container">
    <hr>
    <h2>Categoria</h2>
    <a class="btn btn-success" href="/admin/categories/new">Criar nova categoria</a>
    <hr>
    <table class="table table-bordered" >
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Slug</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% categories.forEach(category => { %>
                <tr>
                    <th><%= category.id %></th>
                    <th><%= category.title %></th>
                    <th><%= category.slug %></th>
                    <th>
                        <a href="/admin/categories/edit/<%= category.id %>" class="btn btn-warning">Editar</a>

                        <form method="POST" action="/categories/delete" style="display: inline" onsubmit="confirmarExclusão(event, this)">
                            <input type="hidden" name="id" value="<%= category.id %>">
                            <button class="btn btn-danger">Excluir</button>
                        </form>
                        
                    </th>                    
                </tr>   
            <% }) %>
        </tbody>
    </table>
</div>

<%- include ('../../partials/footer.ejs') -%>
<script>
    function confirmarExclusão(event, form) { // Funçao com 2 parametros que intercepta o envio do form a fim de ter certeza da exclusao da categoria
        event.preventDefault() // Parametro utilizado para prevenir o comportamento padrao do form que é sr submetido(enviado)
        let decisao = window.confirm('Deseja excluir a categoria? ') // Criando pop up onde será retornado True or False
        if(decisao) { // Se for verdadeiro/true = (sim)
            form.submit() // Utilizamos o segundo parametro para realizar a açao de submeter o formulário
        }
    }
</script>
